.app {
  text-align: center;
  min-height: 100vh;
  padding-bottom: 50px;
}

h1 {
  margin-top: 0;
}

.app > h2 {
  font-size: 28px;
  border: 1px solid #999999;
}

.input_App {
  margin-top: 30px;
}

.inline_input {
  display: inline-block;
}

div.inline_input:first-child {
  margin-right: 50px;
}

.userItem {
  border: 2px solid #999;
  display: block;
  width: 400px;
  margin: 10px auto;
  padding: 10px;
}
